.embla {
  position: relative;
  background-color: #f7f7f7;
  padding: 0;
  max-width: 1297px;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: auto;
}

.embla__slide__img {
  position: relative;
  display: block;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
}

.embla__dot {
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  position: relative;
  padding: 0;
  border: 1px solid white;
  width: 10px;
  height: 10px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.is_selected {
  background-color: white;
  opacity: 1;
}
